*{
	padding: 0;
	margin:0;
	font-family: 'M PLUS Rounded 1c', sans-serif;

}

h3, h4{
	color: white;
}

@font-face{
	font-family: "HussarPrintA";
	src:url('images/HussarPrintB.otf')format('opentype');
}

.instruction{
	padding-left: 8vw;
	background-color: #5F3F8A;
	
	color: white;
	padding-top: 8vh;
	padding-bottom: 5vh;

}

#sort{
	margin-right: 8vw;
}

#coursesArea{
	margin-left: 8vw;

}

/**
#about{
	
	color: white;
	margin-left: 20vw;

	text-decoration: none;
	font-size: 1.5em;
	border: 1px solid black;





}*/

#instructionTitle{
	padding-bottom: 2vh;

}

#chooseBar{
	padding-left: 8vw;
	background-color: #5F3F8A;
	padding-top: 5vh;
	padding-bottom: 3vh;

}


input[type="text"]{
	width: 15vw;
	height: 4vh;
	margin-top: 2vh;
}

#searchIcon{
	position: relative;
	
	height: 2vh;
	margin-top: 1vh;

	margin-right: 5vh;
	margin-left: -2vw;
	width: auto;

}


#courseCode{
	text-align: center;
}

#courseCodeInput{
	border-radius: 5px;
}

.nav{
	background-color: #4b2b74;
	height: 15vh;


}

.nav img{
	float: left;
	height: 12vh;
	padding-top: 1.5vh;
	padding-left: 7vw;

}

.nav h1{
	position: relative;
	top: 18px;
 	left: 10px;
 	padding-top: 3vh;
}

#editBar{
	padding-left: 8vw;
	padding-top: 5vh;

	height: 5vh;
}

#edit{
	margin-top: 2vh;
	width: 8vw;
}

#sort {
	position: absolute;
	right: 20px;
}

hr{
	border: 0.2px dotted white;


}


/*
#title{
	color: white;
	font-family: 'Roboto', sans-serif;
}*/

#title{
	color: white;
	
	
}

.nav ul{
	display: flex;
	flex-wrap: wrap;

}

.nav ul li{
	list-style: none;
	
	
}

#button{
	float: right;
	margin-right: 8vw;
	margin-top: 5vh;

}


footer{
	margin-top: 10vh;
	text-align: center;

}

table{
	border: 1px solid black;
	margin: 10px;
	border-collapse: collapse;
}

tr{
	border-top: 1px solid black;
}

td{
	height: 7vh;
}

table{
	margin-left: 8vw;
	margin-right: 8vw;
	margin-top: 5vh;
	text-align: center;
}


.myButton {
	-moz-box-shadow:inset 0px -3px 0px 0px #4b2b74;
	-webkit-box-shadow:inset 0px -3px 0px 0px #4b2b74;
	box-shadow:inset 0px -3px 0px 0px #4b2b74;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4b2b74), color-stop(1, #5c3d85));
	background:-moz-linear-gradient(top, #4b2b74 5%, #5c3d85 100%);
	background:-webkit-linear-gradient(top, #4b2b74 5%, #5c3d85 100%);
	background:-o-linear-gradient(top, #4b2b74 5%, #5c3d85 100%);
	background:-ms-linear-gradient(top, #4b2b74 5%, #5c3d85 100%);
	background:linear-gradient(to bottom, #4b2b74 5%, #5c3d85 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4b2b74', endColorstr='#5c3d85',GradientType=0);
	background-color:#4b2b74;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:2px solid #3a146b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:16px;
	font-weight:bold;
	padding:11px 14px;
	text-decoration:none;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5c3d85), color-stop(1, #4b2b74));
	background:-moz-linear-gradient(top, #5c3d85 5%, #4b2b74 100%);
	background:-webkit-linear-gradient(top, #5c3d85 5%, #4b2b74 100%);
	background:-o-linear-gradient(top, #5c3d85 5%, #4b2b74 100%);
	background:-ms-linear-gradient(top, #5c3d85 5%, #4b2b74 100%);
	background:linear-gradient(to bottom, #5c3d85 5%, #4b2b74 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c3d85', endColorstr='#4b2b74',GradientType=0);
	background-color:#5c3d85;
}
.myButton:active {
	position:relative;
	top:1px;
}



.parent {
  display: flex;

  flex-wrap: wrap;
  margin-left: 8vw;
  margin-right: 8vw;

}


.course_title{
	width: 15%;
	margin-bottom: 1vh;
	padding-top: 3vh;
  height: 6vh;
  background-color: #3d3d3d;
  text-align: center;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

.assessment_title{
	width: 35%;
	 margin-bottom: 1vh;
  padding-top: 3vh;
  height: 6vh;
  background-color: #363636;
  text-align: center;
  color: white;

}

.date_title{
	width: 35%;
	 margin-bottom: 1vh;
    padding-top: 3vh;
  height: 6vh;
  background-color: #2e2e2e;
  text-align: center;
  color: white;
}

.weight_title{
	width: 15%;
	 margin-bottom: 1vh;
  padding-top: 3vh;
  height: 6vh;
  background-color: #292929;
  text-align: center;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


/*.child {
  flex: 1 0 21%; /* explanation below 

  margin-bottom: 1vh;
  height: 10vh;
  background-color: #4b2b74;
  text-align: center;
  color: white;


}*/

.code{
	width: 15%;
	margin-bottom: 1vh;
	padding-top: 3vh;
  height: 6vh;
  background-color: #9969C7;
  text-align: center;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

.title{
	width: 35%;
	 margin-bottom: 1vh;
  padding-top: 1.5vh;
  height: 7.5vh;
  background-color: #804FB3;
  text-align: center;
  color: white;


}
.date{
	width: 35%;
	 margin-bottom: 1vh;
    padding-top: 1.5vh;
  height: 7.5vh;
  background-color:#6A359C;
  text-align: center;
  color: white;
}
.weight{
	width: 15%;
	 margin-bottom: 1vh;
  padding-top: 3vh;
  height: 6vh;
  background-color: #552586;
  text-align: center;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.addedCourse{
	cursor: auto;
}

.fa-times-circle {
	cursor: pointer;
}
#semester, #mode{
	height: 5vh;
	margin-left: 3vw;
	
	
	
}

.buttonSet {
	-moz-box-shadow:inset 3px 2px 0px 0px #ffffff;
	-webkit-box-shadow:inset 3px 2px 0px 0px #ffffff;
	box-shadow:inset 3px 2px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#5f3f8a;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:10px 16px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
}
.buttonSet:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.buttonSet:active {
	position:relative;
	top:1px;
}



#editButton{
	display: inline;

}

.task_edit{

	float: right;
	margin-right: 2vw;
	margin-left: -5vw;



}




